<!DOCTYPE html>
<html>
    <head>
        <title>This is the info page:</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>Visualizin the realism of life in actuality</p>
    </body>
</html>
